body {
  background-color: black;
  color: white;
  width: 300px;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

/* label {
  font-size: 15px;
}

#quality {
  padding: 10px;
  text-align: center;
}

#filename {
  padding: 10px;
  font-size: 10px;
}

#format {
  padding: 10px;
  text-align: center;
}

button {
  margin: 12px;
  padding: 10px;
  border-radius: 8px;
  background: white;
  color: rgb(24, 2, 44);
} */
